# Step 1. Reload files & Import Modules - 匯入模組

## 1-1. Reload files - 重讀檔案

In [1]:
import sys
print(sys.version)

3.10.13 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:24:38) [MSC v.1916 64 bit (AMD64)]

In [2]:
# reload file if you eaited them
import crawler104, config.search_params, async_example, threaded_async_job, jobs104
import data_lake, data_warehouse, translation

import importlib
importlib.reload(crawler104)
importlib.reload(async_example)
importlib.reload(threaded_async_job)
importlib.reload(jobs104)
importlib.reload(config.search_params)
importlib.reload(data_lake)
importlib.reload(data_warehouse)
importlib.reload(translation)

## 1-2. Import Modules - 匯入模組

In [3]:
# import library
from crawler104 import Crawler104
from config.search_params import get_filter_params
from data_lake import DataLake
from data_warehouse import DataWarehouse

In [4]:
# 快速執行 reload & import
%run main.py

# Step 2. Data Source - 爬蟲抓資料

## 2-1. Filter Setting - 過濾條件

In [5]:
# custom filter params for search - for yidti
role = {'ro':'全職'}
keyword = {'keyword':"後端工程師 python"}
# area = {'area':['新北市', '台北市', '桃園市', '台中市']}
isnew = {'isnew':'三日內'}
jobexp = {'jobexp':['1年以下', '1-3年']}
# 預設
mode = {'mode':'列表'}  # 一次能呈現比較多筆資料
order = {'order':'日期排序'}
asc = {'asc':'遞減'}
# filter_params = get_filter_params(role, keyword, area, isnew, jobexp, mode, order, asc)
filter_params = get_filter_params(role, keyword, isnew, jobexp, mode, order, asc)
# keywords for filter job again
job_keywords = ('工程','資料','python','data','數據','後端')
# Exclude keywords to filter out companies related to gambling or others that I don't want to consider.
company_exclude = ('新加坡商冕創有限公司','新博軟體開發股份有限公司','現觀科技股份有限公司'
                   ,'全富數位有限公司','杰思數位有限公司','博凡星國際有限公司',
                  '尊博科技股份有限公司','新騎資訊有限公司','新加坡商鈦坦科技股份有限公司台灣分公司',
                   '豪穎科技股份有限公司','塶樂微創有限公司','磐弈有限公司',
                   '聯訊網路有限公司','冶金數位科技有限公司','肥貓科技有限公司',
                   '無名科技有限公司','博澭科技有限公司','緯雲股份有限公司',
                   '風采有限公司','英屬維京群島商嘉碼科技有限公司台灣分公司',
                   '冠宇數位科技股份有限公司','英仕國際有限公司','元遊科技有限公司',
                   '禾碩資訊股份有限公司','向上集團_向上國際科技股份有限公司',
                   '弈樂科技股份有限公司','馬來西亞商極限電腦科技有限公司台灣分公司',
                   '樂夠科技有限公司','威智國際有限公司','紅信科技有限公司',
                   '深思設計有限公司','揚帆科技有限公司','晶要資訊有限公司',
                   '九七科技股份有限公司','臣悅科技有限公司','尊承科技股份有限公司',
                   '遊戲河流有限公司','唐傳有限公司','捷訊資訊有限公司',
                   '逍遙遊科技有限公司','澄果資訊服務有限公司','果遊科技有限公司',
                   '昱泉國際股份有限公司','博星數位股份有限公司',
                  )
user = "yidti"
crawler = Crawler104(filter_params, user)
print(f"設定排除{len(company_exclude)}家公司")

設定排除44家公司

## 2-2. Web Crawler - 抓取Jobs清單

In [6]:
# chrome for testing -> https://googlechromelabs.github.io/chrome-for-testing/
crawler.run(job_keywords, company_exclude)

url: https://www.104.com.tw/jobs/search/?ro=1&keyword=%E5%BE%8C%E7%AB%AF%E5%B7%A5%E7%A8%8B%E5%B8%AB+python&isnew=3&jobexp=1%2C3&mode=l&order=16&asc=0

Loading: 100%|██████████| 100/100 [02:49<00:00,  1.70s/page]

載入100頁 | 載入2968筆資料 | 過濾剩2257筆資料 | 花費 191.73 秒

## 2-3. Web Scraper - 抓取Jobs內容(異步&多線程)

In [11]:
# 新增 temp 暫存檔 parquet
crawler.detail()

exclude exist and close data
Remove from parquet, leaving 0 remaining to scrape .

Processing jobs: 0job [00:00, ?job/s]

Scraping Details for 0 Jobs | 花費 0.07 秒

## 2-3. Export Flie - 輸出至Excel

In [12]:
# output to excel file (job)
crawler.export_excel()

CSV文件保存成功: output/yidti-2024-04-24.xlsx

# Step 3. Data Lake - 資料存入NoSQL

In [13]:
# ouput to noSQL (job, company, industry)
data_lake = DataLake()
data_lake.save_nosql(user, crawler)
data_lake.filter(job_keywords, company_exclude)

Update 2143 records, Insert 113 records in jobs_104 collection
job keywords - 已刪除不符合關鍵字的文件數量: 0
company exclude - 已刪除符合條件的文件數量: 0

# Step 4 - Data Warehouse - 資料存入MySQL

In [5]:
# 快速執行 reload & import
%run main.py

In [6]:
data_lake  = DataLake()
data_Warehouse = DataWarehouse()
data_Warehouse.initial_db()
data_Warehouse.save_sql(data_lake)

DB (job_db) has been deleted
DB is created (job_db)
Successfully executed SQL script
Error executing SQL script: 1824 (HY000): Failed to open the referenced table 'working_hours'
不重複的值已成功寫入company目標表, 寫入1017筆
不重複的值已成功寫入industry目標表, 寫入119筆
不重複的值已成功寫入location_city_region目標表, 寫入111筆
不重複的值已成功寫入location目標表, 寫入1209筆
不重複的值已成功寫入experience目標表, 寫入3筆
不重複的值已成功寫入education目標表, 寫入7筆
不重複的值已成功寫入category_item目標表, 寫入151筆
不重複的值已成功寫入category目標表, 寫入5294筆
不重複的值已成功寫入major_item目標表, 寫入68筆
不重複的值已成功寫入major目標表, 寫入4081筆
不重複的值已成功寫入language_item目標表, 寫入27筆
不重複的值已成功寫入language目標表, 寫入2319筆
不重複的值已成功寫入tool_item目標表, 寫入263筆
不重複的值已成功寫入tool目標表, 寫入9189筆
不重複的值已成功寫入skill_item目標表, 寫入238筆
不重複的值已成功寫入skill目標表, 寫入5431筆
不重複的值已成功寫入benefits目標表, 寫入300筆
不重複的值已成功寫入type目標表, 寫入1筆
不重複的值已成功寫入management目標表, 寫入4筆
不重複的值已成功寫入business_trip目標表, 寫入15筆

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1146 (42S02): Table 'job_db.working_hours' doesn't exist
[SQL: SELECT * FROM working_hours]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [80]:
from translation import translation_dict
import pandas as pd

df_new = data_Warehouse.df_no_sql.rename(columns=translation_dict)

column_name = "working_hours"

type(df_new[column_name])

# df_new[column_name] = df_new[column_name].str.strip()
# loc
df_new = df_new[column_name].drop_duplicates().reset_index(drop=True)
df_new
# tydf_newpe(df_new)
# df_new = df_new.sort_values(by = column_name, ascending=True)
# df_new.head(10)

# type(df_new[column_name])
# df_new.to_sql(name=column_name, con=data_Warehouse.engine, if_exists='append', index=False)
# len(df_new['working_hours'].drop_duplicates())

0                                       日班
1                           日班，08:00~17:00
2                           日班，10:00-19:00
3                           日班，09:00~18:00
4        日班，09:30~18: 30 ( 午休 12:00-13:00)
                      ...
208                 日班，9:00~18:00(中午休息1hr)
209                                 日班/假日班
210    日班，週一至週五 09:00-18:00（彈性上下班），午休1.5小時
211                 日班，09:00~18:00 (午休1小時)
212                       日班，(08:30-17:30)
Name: working_hours, Length: 213, dtype: object

In [66]:
df_new[column_name].reset_index(drop=True)

                   working_hours
0                大夜班，23:00-08:00
1                             日班
2                         日班/假日班
3             日班/假日班，12:00~21:00
4                     日班/假日班，需輪班
..                           ...
208                        日班，面議
209                   晚班/假日班，需輪班
210                       晚班/大夜班
211               晚班，20:00~05:00
212  晚班，固定中班10:30~22:30，做二休二，需輪班

[213 rows x 1 columns]

In [237]:
# df = data_Warehouse.df_no_sql
df = data_Warehouse.df_no_sql
df.columns

Index(['更新', '職缺', '職缺_link', '公司_id', '公司', '公司_link', '產業_id', '產業', '縣市',
       '區域', '地址', '經歷', '學歷', '內容', '類別', '科系', '語文', '工具', '技能', '其他', '待遇',
       '性質', '管理', '出差', '時段', '休假', '可上', '人數', '福利'],
      dtype='object')

# Step 5 - Data Application

# Step 99. Test Area - 測試區域

In [66]:
import os, time
from dotenv import load_dotenv
load_dotenv()
os.getenv("MODE")
from sqlalchemy import create_engine, text
from urllib.parse import quote

# 對密碼進行 URL 編碼
user = "root"
password = quote("Sql@1031")
host = "localhost"
port = 3306
db_name = "job_db"
# 構建 MySQL 數據庫連接 URL
connector_url = f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{db_name}"
# print(connector_url)
# 創建引擎object
engine = create_engine(connector_url, future = True)

# SQL 語句範例
# sql_statement = "SELECT * FROM your_table"  # 替換成實際的表格名稱
sql_job_table =  """
            CREATE TABLE IF NOT EXISTS JobsInfo  (
            `更新日期` DATE,
            `職缺名稱` VARCHAR(100),
            `公司名稱` VARCHAR(100),
            `工作內容` TEXT,
            `職務類別` INT,
            `工作待遇` VARCHAR(100),
            `工作性質` INT,
            `縣市` INT,
            `上班地點` VARCHAR(100),
            `管理責任` INT,
            `出差外派` INT,
            `上班時段` VARCHAR(100),
            `休假制度` INT,
            `可上班日` INT,
            `需求人數` VARCHAR(50),
            `工作經歷` INT,
            `學歷要求` INT,
            `科系要求` VARCHAR(50),
            `語文條件` VARCHAR(50),
            `擅長工具` VARCHAR(500),
            `工作技能` VARCHAR(500),
            `其他要求` TEXT,
            `連結` TEXT,
            PRIMARY KEY (`連結`(255))
);
        """

with engine.connect() as connection:
    print("test OK")
    connection.execute(text(sql_job_table))

test OK

In [ ]:
# custom filter params for search - simon
# role = {'ro':'全職'}
# zone = {'zone': '4,5'}
# indcat = {'indcat':'1001000000,1002000000,1012000000,1014000000'}
# exclude = {'excludeJobKeyword': '軟體,會計,文件整理,行政,百貨,資訊,品管,財務,守衛,技術員,法務,品檢,登打,輪班,無經驗,客戶'}
# mode = {'mode':'列表'}  # 一次能呈現比較多筆資料
# order = {'order':'日期排序'}
# asc = {'asc':'遞減'}
# filter_params = get_filter_params(role, zone, indcat, exclude, mode, order, asc)

In [ ]:
# 如果你在一個 Python script 中執行這樣的程式碼，你可能需要使用 asyncio.run() 函數。
# 在異步程式碼中，如果你使用 asyncio.gather 函數收集異步任務的結果，而這些任務沒有顯式返回值，
# gather 函數將返回一個包含每個異步任務結果的列表，而這些結果通常是 None。

import asyncio

async def async_example(i):
    print(f"Start asynchronous task {i}")
    await asyncio.sleep(1)
    print(f"End asynchronous task {i}")
    return f"Result of task {i}"

# 直接在 Jupyter cell 中執行
tasks = [async_example(i) for i in range(5)]
results = await asyncio.gather(*tasks)
print(results)

In [ ]:
%%time
# 計算query時間
import pandas as pd
current_date = datetime.now().date()    
parquet_file = f"temp-{current_date}.parquet" 
parquet_path = f"temp/{parquet_file}"
df_read = pd.read_parquet(parquet_path)
# len(df_read)
# df_read
# query

# pd.read_parquet(parquet_path).query("id==13791668")
# CPU times: total: 15.6 ms
# Wall time: 12.7 ms
# test = pd.read_parquet(parquet_path, filters=[("id", "=", 13791668)])
# CPU times: total: 0 ns
# Wall time: 5.82 ms