# Step 1. Reload files & Import Modules - 匯入模組

## 1-1. Reload files - 重讀檔案

In [1]:
# reload file if you eaited them
import crawler104, config.search_params, async_example, threaded_async_job, jobs104
import data_lake
import importlib
importlib.reload(crawler104)
importlib.reload(async_example)
importlib.reload(threaded_async_job)
importlib.reload(jobs104)
importlib.reload(config.search_params)
importlib.reload(data_lake)

## 1-2. Import Modules - 匯入模組

In [2]:
# import library
from crawler104 import Crawler104
from config.search_params import get_filter_params
from data_lake import DataLake

In [13]:
# 快速執行 reload & import
%run main.py

# Step 2. Data Source - 爬蟲抓資料

## 2-1. Web Crawler - 抓取Jobs清單

In [17]:
# custom filter params for search - for yidti
role = {'ro':'全職'}
keyword = {'keyword':"後端工程師 python"}
# area = {'area':['新北市', '台北市', '桃園市', '台中市']}
isnew = {'isnew':'三日內'}
jobexp = {'jobexp':['1年以下', '1-3年']}
# 預設
mode = {'mode':'列表'}  # 一次能呈現比較多筆資料
order = {'order':'日期排序'}
asc = {'asc':'遞減'}
# filter_params = get_filter_params(role, keyword, area, isnew, jobexp, mode, order, asc)
filter_params = get_filter_params(role, keyword, isnew, jobexp, mode, order, asc)

# keywords for filter job again
job_keywords = ('工程','資料','python','data','數據','後端')
# Exclude keywords to filter out companies related to gambling or others that I don't want to consider.
company_exclude = ('新加坡商冕創有限公司','新博軟體開發股份有限公司','現觀科技股份有限公司'
                   ,'全富數位有限公司','杰思數位有限公司','博凡星國際有限公司',
                  '尊博科技股份有限公司','新騎資訊有限公司','新加坡商鈦坦科技股份有限公司台灣分公司',
                   '豪穎科技股份有限公司','塶樂微創有限公司','磐弈有限公司',
                   '聯訊網路有限公司','冶金數位科技有限公司','肥貓科技有限公司',
                   '無名科技有限公司','博澭科技有限公司','緯雲股份有限公司',
                   '風采有限公司','英屬維京群島商嘉碼科技有限公司台灣分公司',
                   '冠宇數位科技股份有限公司','英仕國際有限公司','元遊科技有限公司',
                   '禾碩資訊股份有限公司','向上集團_向上國際科技股份有限公司',
                   '弈樂科技股份有限公司','馬來西亞商極限電腦科技有限公司台灣分公司',
                   '樂夠科技有限公司','威智國際有限公司','紅信科技有限公司',
                   '深思設計有限公司','揚帆科技有限公司','晶要資訊有限公司',
                   
                  )
user = "yidti"
crawler = Crawler104(filter_params, user)
crawler.run(job_keywords, company_exclude)

## 2-2. Web Scraper - 抓取Jobs內容(異步&多線程)

In [15]:
# 新增 temp 暫存檔 parquet
crawler.detail()

Parquet file 'temp/yidti-2024-02-16.parquet' not found.

Processing jobs: 100%|██████████| 2252/2252 [06:47<00:00,  5.53job/s]

Scraping Details for 2252 Jobs | 花費 407.51 秒

## 2-3. Export Flie - 輸出至Excel

In [16]:
# output to excel file (job)
crawler.export_excel()

CSV文件保存成功: output/yidti-2024-02-16.xlsx

# Step 3. Data Lake - 資料存入NoSQL

In [18]:
# ouput to noSQL (job, company, industry)
data_Lake = DataLake()
data_Lake.export_nosql(user, crawler)
data_Lake.filter(job_keywords, company_exclude)

Update 2013 records, Insert 239 records in jobs_104 collection
job keywords - 已刪除不符合關鍵字的文件數量: 0
company exclude - 已刪除符合條件的文件數量: 13

# Step 4 - Data Warehouse - 資料存入MySQL

In [8]:
# 快速執行 reload & import
%run main.py

In [16]:
data_Lake = DataLake()
# 先從NoSQL抓資料dataframe
df = data_Lake.load_latest()
print(len(df))
df.columns

410

Index(['更新', '職缺', '職缺_link', '公司_id', '公司', '公司_link', '產業_id', '產業', '縣市',
       '區域', '地址', '經歷', '學歷', '內容', '類別', '科系', '語文', '工具', '技能', '其他', '待遇',
       '性質', '管理', '出差', '時段', '休假', '可上', '人數', '福利'],
      dtype='object')

In [61]:
# create db
import mysql.connector
db_name = "job_db"

def createDB(db_name):
    connection = mysql.connector.connect(
        host="localhost",
        user = "root",
        password = "Sql@1031",
        port = 3306
    )
    cursor = connection.cursor()
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
    cursor.execute("SHOW DATABASES")
    
    for x in cursor:
      print(x)

    connection.commit()
    connection.close()


createDB(db_name)
# cursor = connectDB(db_name)

('information_schema',)
('job_db',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [127]:
import os
def read_sql_file():
    try:
        # SQL 文件所在的目录路径
        sql_directory = 'sql'
        sql_script = {}
        # 讀取 SQL 檔案
        # 获取目录中所有的 SQL 文件
        sql_files = [f for f in os.listdir(sql_directory) if f.endswith('.sql')]
        for file_name in sql_files:
            sql_file_path = os.path.join(sql_directory, file_name)
            with open(sql_file_path, 'r') as f:
                sql_content = f.read()
                sql_script[file_name] = sql_content
        return sql_script

    except Exception as e:
        print(f"Error reading SQL script from {sql_directory}: {e}")
        return None

sql_script = read_sql_file()
sql_script

{'dimension.sql': '-- 把重複性高的column切割出來儲存成 Dimension Table\n\n\n\n\n\n\n\n\n-- 經歷\nCREATE TABLE IF NOT EXISTS working_exp(  \n    id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,\n    year_exp VARCHAR(10) NOT NULL,\n    UNIQUE (year_exp)\n);',
 'facts.sql': ''}

In [129]:
dimension = sql_script['dimension.sql']
dimension

'-- 把重複性高的column切割出來儲存成 Dimension Table\n\n\n\n\n\n\n\n\n-- 經歷\nCREATE TABLE IF NOT EXISTS working_exp(  \n    id INT NOT NULL PRIMARY KEY AUTO_INCREMENT,\n    year_exp VARCHAR(10) NOT NULL,\n    UNIQUE (year_exp)\n);'

In [130]:
def execute_sql(db_name, sql_script):
    connection = mysql.connector.connect(
        host="localhost",
        user = "root",
        password = "Sql@1031",
        port = 3306,
        database = db_name
    )

    try:
        cursor = connection.cursor()
        # 執行 SQL 內容
        cursor.execute(sql_script)
        print("Successfully executed SQL script")
    except Exception as e:
        print(f"Error executing SQL script: {e}")
    finally:
        # 關閉資料庫連接
        connection.close()

db_name = "job_db"
execute_sql(db_name,dimension)

Successfully executed SQL script

In [134]:
df_working_exp

  year_exp
0       2年
1       不拘
2       1年

In [142]:
from sqlalchemy import create_engine
import urllib.parse
# 对密码进行 URL 编码
password = urllib.parse.quote_plus('Sql@1031')
# 创建 SQLAlchemy 引擎
db_name = "job_db"
# 创建 SQLAlchemy 引擎
engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{db_name}')

df_working_exp.to_sql(name='working_exp', con=engine, if_exists='replace', index=False, method='multi', chunksize=1000)

3

In [115]:
# df['經歷']
connection = mysql.connector.connect(
        host="localhost",
        user = "root",
        password = "Sql@1031",
        port = 3306,
        database = db_name
    )

df_working_exp = df[['經歷']].drop_duplicates().reset_index(drop=True)
df_working_exp = df_working_exp.rename(columns = {'經歷':'year_exp'})
df_working_exp.to_sql(name='working_exp', con=connection, if_exists='append', index=False)

C:\Users\Rekam\AppData\Local\Temp\ipykernel_88184\1271073965.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_working_exp.to_sql(name='working_exp', con=connection, if_exists='append', index=False)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': Not all parameters were used in the SQL statement

In [ ]:
def execute_sql(db_name, sql_script):
    connection = mysql.connector.connect(
        host="localhost",
        user = "root",
        password = "Sql@1031",
        port = 3306,
        database = db_name
    )

    try:
        cursor = connection.cursor()
        # 執行 SQL 內容
        cursor.execute(sql_script)
        print("Successfully executed SQL script")
    except Exception as e:
        print(f"Error executing SQL script: {e}")
    finally:
        # 關閉資料庫連接
        connection.close()

In [ ]:
# 將 df 裏頭的某個 column 放到 dimension 的 table裏頭

In [46]:
import os, time
from dotenv import load_dotenv
load_dotenv()
os.getenv("MODE")
from sqlalchemy import create_engine, text
from urllib.parse import quote

# 對密碼進行 URL 編碼
user = "root"
password = quote("Sql@1031")
host = "localhost"
port = 3306
db_name = "job_db"ZZ
# 構建 MySQL 數據庫連接 URL
connector_url = f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{db_name}"
# print(connector_url)
# 創建引擎object
engine = create_engine(connector_url, future = True)

# SQL 語句範例
# sql_statement = "SELECT * FROM your_table"  # 替換成實際的表格名稱
sql_job_table =  """
            CREATE TABLE IF NOT EXISTS JobsInfo  (
            `更新日期` DATE,
            `職缺名稱` VARCHAR(100),
            `公司名稱` VARCHAR(100),
            `工作內容` TEXT,
            `職務類別` INT,
            `工作待遇` VARCHAR(100),
            `工作性質` INT,
            `縣市` INT,
            `上班地點` VARCHAR(100),
            `管理責任` INT,
            `出差外派` INT,
            `上班時段` VARCHAR(100),
            `休假制度` INT,
            `可上班日` INT,
            `需求人數` VARCHAR(50),
            `工作經歷` INT,
            `學歷要求` INT,
            `科系要求` VARCHAR(50),
            `語文條件` VARCHAR(50),
            `擅長工具` VARCHAR(500),
            `工作技能` VARCHAR(500),
            `其他要求` TEXT,
            `連結` TEXT,
            PRIMARY KEY (`連結`(255))
);
        """

with engine.connect() as connection:
    print("test OK")
    connection.execute(text(sql_job_table))

test OK

# Step 5 - Data Application

# Step 99. Test Area - 測試區域

In [ ]:
# custom filter params for search - simon
# role = {'ro':'全職'}
# zone = {'zone': '4,5'}
# indcat = {'indcat':'1001000000,1002000000,1012000000,1014000000'}
# exclude = {'excludeJobKeyword': '軟體,會計,文件整理,行政,百貨,資訊,品管,財務,守衛,技術員,法務,品檢,登打,輪班,無經驗,客戶'}
# mode = {'mode':'列表'}  # 一次能呈現比較多筆資料
# order = {'order':'日期排序'}
# asc = {'asc':'遞減'}
# filter_params = get_filter_params(role, zone, indcat, exclude, mode, order, asc)

In [ ]:
# 如果你在一個 Python script 中執行這樣的程式碼，你可能需要使用 asyncio.run() 函數。
# 在異步程式碼中，如果你使用 asyncio.gather 函數收集異步任務的結果，而這些任務沒有顯式返回值，
# gather 函數將返回一個包含每個異步任務結果的列表，而這些結果通常是 None。

import asyncio

async def async_example(i):
    print(f"Start asynchronous task {i}")
    await asyncio.sleep(1)
    print(f"End asynchronous task {i}")
    return f"Result of task {i}"

# 直接在 Jupyter cell 中執行
tasks = [async_example(i) for i in range(5)]
results = await asyncio.gather(*tasks)
print(results)

In [ ]:
%%time
# 計算query時間
import pandas as pd
current_date = datetime.now().date()    
parquet_file = f"temp-{current_date}.parquet" 
parquet_path = f"temp/{parquet_file}"
df_read = pd.read_parquet(parquet_path)
# len(df_read)
# df_read
# query

# pd.read_parquet(parquet_path).query("id==13791668")
# CPU times: total: 15.6 ms
# Wall time: 12.7 ms
# test = pd.read_parquet(parquet_path, filters=[("id", "=", 13791668)])
# CPU times: total: 0 ns
# Wall time: 5.82 ms