# Step 1. Reload files & Import Modules - 匯入模組

## 1-1. Reload files - 重讀檔案

In [1]:
import sys
print(sys.version)

3.10.13 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:24:38) [MSC v.1916 64 bit (AMD64)]

In [2]:
# reload file if you eaited them
import crawler104, config.search_params, async_example, threaded_async_job, jobs104
import data_lake, data_warehouse
import importlib
importlib.reload(crawler104)
importlib.reload(async_example)
importlib.reload(threaded_async_job)
importlib.reload(jobs104)
importlib.reload(config.search_params)
importlib.reload(data_lake)
importlib.reload(data_warehouse)

## 1-2. Import Modules - 匯入模組

In [3]:
# import library
from crawler104 import Crawler104
from config.search_params import get_filter_params
from data_lake import DataLake
from data_warehouse import DataWarehouse

In [29]:
# 快速執行 reload & import
%run main.py

# Step 2. Data Source - 爬蟲抓資料

## 2-1. Filter Setting - 過濾條件

In [23]:
# custom filter params for search - for yidti
role = {'ro':'全職'}
keyword = {'keyword':"後端工程師 python"}
# area = {'area':['新北市', '台北市', '桃園市', '台中市']}
isnew = {'isnew':'三日內'}
jobexp = {'jobexp':['1年以下', '1-3年']}
# 預設
mode = {'mode':'列表'}  # 一次能呈現比較多筆資料
order = {'order':'日期排序'}
asc = {'asc':'遞減'}
# filter_params = get_filter_params(role, keyword, area, isnew, jobexp, mode, order, asc)
filter_params = get_filter_params(role, keyword, isnew, jobexp, mode, order, asc)
# keywords for filter job again
job_keywords = ('工程','資料','python','data','數據','後端')
# Exclude keywords to filter out companies related to gambling or others that I don't want to consider.
company_exclude = ('新加坡商冕創有限公司','新博軟體開發股份有限公司','現觀科技股份有限公司'
                   ,'全富數位有限公司','杰思數位有限公司','博凡星國際有限公司',
                  '尊博科技股份有限公司','新騎資訊有限公司','新加坡商鈦坦科技股份有限公司台灣分公司',
                   '豪穎科技股份有限公司','塶樂微創有限公司','磐弈有限公司',
                   '聯訊網路有限公司','冶金數位科技有限公司','肥貓科技有限公司',
                   '無名科技有限公司','博澭科技有限公司','緯雲股份有限公司',
                   '風采有限公司','英屬維京群島商嘉碼科技有限公司台灣分公司',
                   '冠宇數位科技股份有限公司','英仕國際有限公司','元遊科技有限公司',
                   '禾碩資訊股份有限公司','向上集團_向上國際科技股份有限公司',
                   '弈樂科技股份有限公司','馬來西亞商極限電腦科技有限公司台灣分公司',
                   '樂夠科技有限公司','威智國際有限公司','紅信科技有限公司',
                   '深思設計有限公司','揚帆科技有限公司','晶要資訊有限公司',
                   '九七科技股份有限公司','臣悅科技有限公司','尊承科技股份有限公司',
                   '遊戲河流有限公司','唐傳有限公司','捷訊資訊有限公司',
                   '逍遙遊科技有限公司','澄果資訊服務有限公司','果遊科技有限公司',
                   '昱泉國際股份有限公司','博星數位股份有限公司',
                  )
user = "yidti"
crawler = Crawler104(filter_params, user)
print(f"設定排除{len(company_exclude)}家公司")

設定排除44家公司

## 2-2. Web Crawler - 抓取Jobs清單

In [24]:
# chrome for testing -> https://googlechromelabs.github.io/chrome-for-testing/
crawler.run(job_keywords, company_exclude)

url: https://www.104.com.tw/jobs/search/?ro=1&keyword=%E5%BE%8C%E7%AB%AF%E5%B7%A5%E7%A8%8B%E5%B8%AB+python&isnew=3&jobexp=1%2C3&mode=l&order=16&asc=0

Loading: 100%|██████████| 100/100 [02:15<00:00,  1.36s/page]

載入100頁 | 載入2967筆資料 | 過濾剩2217筆資料 | 花費 154.67 秒

## 2-3. Web Scraper - 抓取Jobs內容(異步&多線程)

In [25]:
# 新增 temp 暫存檔 parquet
crawler.detail()

exclude exist and close data
Remove from parquet, leaving 0 remaining to scrape .

Processing jobs: 0job [00:00, ?job/s]

Scraping Details for 0 Jobs | 花費 0.07 秒

## 2-3. Export Flie - 輸出至Excel

In [26]:
# output to excel file (job)
crawler.export_excel()

CSV文件保存成功: output/yidti-2024-04-16.xlsx

# Step 3. Data Lake - 資料存入NoSQL

In [39]:
# ouput to noSQL (job, company, industry)
data_lake = DataLake()
data_lake.save_nosql(user, crawler)
data_lake.filter(job_keywords, company_exclude)

Update 2231 records, Insert 0 records in jobs_104 collection
job keywords - 已刪除不符合關鍵字的文件數量: 0
company exclude - 已刪除符合條件的文件數量: 0

# Step 4 - Data Warehouse - 資料存入MySQL

In [40]:
# 快速執行 reload & import
%run main.py

In [42]:
data_lake  = DataLake()
data_Warehouse = DataWarehouse()
data_Warehouse.save_sql(data_lake)
len(data_Warehouse.df)

2231

In [257]:
data_Lake = DataLake()
# 先從NoSQL抓資料dataframe
df = data_Lake.load_latest()
print(len(df))
df.columns

1773

Index(['更新', '職缺', '職缺_link', '公司_id', '公司', '公司_link', '產業_id', '產業', '縣市',
       '區域', '地址', '經歷', '學歷', '內容', '類別', '科系', '語文', '工具', '技能', '其他', '待遇',
       '性質', '管理', '出差', '時段', '休假', '可上', '人數', '福利'],
      dtype='object')

In [312]:
data_Warehouse = DataWarehouse()
db_name = "job_db"
data_Warehouse.createDB("job_db")
data_Warehouse.read_sql_file()
sql_dimension = data_Warehouse.sql_script['dimension.sql']
sql_fact = data_Warehouse.sql_script['fact.sql']
data_Warehouse.execute_sql(db_name,sql_dimension)
data_Warehouse.execute_sql(db_name,sql_fact)

DB is created (job_db)
Successfully executed SQL script
Successfully executed SQL script

In [313]:
translation_dict = {
    '更新': 'update',
    '職缺': 'position',
    '職缺_link': 'position_link',
    '公司_id': 'company_id',
    '公司': 'company',
    '公司_link': 'company_link',
    '產業_id': 'industry_id',
    '產業': 'industry',
    '縣市': 'city',
    '區域': 'region',
    '地址': 'address',
    '經歷': 'experience',
    '學歷': 'education',
    '內容': 'content',
    '類別': 'category',
    '科系': 'major',
    '語文': 'language',
    '工具': 'tool',
    '技能': 'skill',
    '其他': 'other',
    '待遇': 'benefits',
    '性質': 'type',
    '管理': 'management',
    '出差': 'business_trip',
    '時段': 'working_hours',
    '休假': 'vacation',
    '可上': 'available',
    '人數': 'quantity',
    '福利': 'welfare'
}

In [304]:
# 將 df 裏頭的某個 column 放到 dimension 的 table裏頭
# 將 dimension sql 存入 df['經歷']
from sqlalchemy import create_engine
import urllib.parse
import pandas as pd

# 对密码进行 URL 编码
password = urllib.parse.quote_plus('Sql@1031')
# 创建 SQLAlchemy 引擎
db_name = "job_db"
# 创建 SQLAlchemy 引擎
engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{db_name}')


# 將列名重命名為與目標表相匹配的名稱
df_new = df.rename(columns=translation_dict)


df_working_exp = df_new[['experience']].drop_duplicates().reset_index(drop=True)
df_working_exp = df_working_exp.rename(columns = {'experience':'exp_year'})

# 讀取目標表的資料
existing_data = pd.read_sql('SELECT * FROM experience', con=engine)
existing_data
# 檢查要寫入的資料是否已存在於目標表中
duplicate_rows = df_working_exp[df_working_exp['exp_year'].isin(existing_data['exp_year'])]
# 找出要寫入的資料中不重複的值
insert_data = df_working_exp[~df_working_exp['exp_year'].isin(existing_data['exp_year'])]
insert_data
# 如果有不重複的值，將其寫入目標表
if not insert_data.empty:
    insert_data.to_sql(name='experience', con=engine, if_exists='append', index=False)
    print("不重複的值已成功寫入目標表")
else:
    print("所有要寫入的值都已存在於目標表中，無需進行寫入")

所有要寫入的值都已存在於目標表中，無需進行寫入

In [305]:
# 创建 SQLAlchemy 引擎
engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost:3306/{db_name}')
existing_experience = pd.read_sql('SELECT * FROM experience', con=engine)
existing_experience

   id exp_year
0   2       1年
1   5     1年以上
2   3       2年
3   1       不拘
4   4     經歷不拘

In [307]:
# 讀取目標表的資料
existing_data = pd.read_sql('SELECT * FROM job_info', con=engine)
existing_data['id_job']

0       13824437
1       12177177
2        8554677
3       13445267
4       13116901
          ...
1768    12465043
1769    13609980
1770    13302385
1771    13245891
1772    13942262
Name: id_job, Length: 1773, dtype: int64

In [310]:
# 將列名重命名為與目標表相匹配的名稱
df_new = df.rename(columns=translation_dict)
selected_columns = df_new.loc[:, ['position', 'content', 'experience']]
selected_columns.reset_index(inplace=True)
selected_columns.rename(columns={'id': 'id_job'}, inplace=True)
# 將 'working_exp' 列中的值與 'working_exp' 表中的 id 對應起來，以準備作為外鍵
selected_columns = selected_columns.merge(existing_experience, left_on='experience', right_on='exp_year', how='left')
selected_columns['experience'] = selected_columns['id']
# 刪除 'id','year_exp' 列，因為它不再需要
selected_columns.drop(columns=['id', 'exp_year'], inplace=True)
selected_columns = selected_columns.rename(columns={'experience': 'exp_id'})


# 讀取目標表的資料
existing_data = pd.read_sql('SELECT * FROM job_info', con=engine)
existing_data
# 檢查要寫入的資料是否已存在於目標表中
duplicate_rows = selected_columns[selected_columns['id_job'].isin(existing_data['id_job'])]
# 找出要寫入的資料中不重複的值
insert_data = selected_columns[~selected_columns['id_job'].isin(existing_data['id_job'])]
insert_data

# 如果有不重複的值，將其寫入目標表
if not insert_data.empty:
    insert_data.to_sql(name='job_info', con=engine, if_exists='append', index=False)
    print(f"不重複的值已成功寫入目標表, 寫入{len(insert_data)}筆")
else:
    print("所有要寫入的值都已存在於目標表中，無需進行寫入")

不重複的值已成功寫入目標表, 寫入1筆

In [ ]:
# 假設您已經從 DataFrame 中選擇了 'title'、'description' 和 'working_exp' 這幾列
selected_columns = df[['title', 'description', 'working_exp']]

# 將 'working_exp' 列中的值與 'working_exp' 表中的 id 對應起來，以準備作為外鍵
selected_columns = selected_columns.merge(df_working_exp, left_on='working_exp', right_on='year_exp', how='left')

# 刪除 'year_exp' 列，因為它不再需要
selected_columns.drop(columns=['year_exp'], inplace=True)

# 將選定的列寫入到 job_info 表中
selected_columns.to_sql(name='job_info', con=engine, if_exists='append', index=False)

# Step 5 - Data Application

# Step 99. Test Area - 測試區域

In [66]:
import os, time
from dotenv import load_dotenv
load_dotenv()
os.getenv("MODE")
from sqlalchemy import create_engine, text
from urllib.parse import quote

# 對密碼進行 URL 編碼
user = "root"
password = quote("Sql@1031")
host = "localhost"
port = 3306
db_name = "job_db"
# 構建 MySQL 數據庫連接 URL
connector_url = f"mysql+mysqlconnector://{user}:{password}@{host}:{port}/{db_name}"
# print(connector_url)
# 創建引擎object
engine = create_engine(connector_url, future = True)

# SQL 語句範例
# sql_statement = "SELECT * FROM your_table"  # 替換成實際的表格名稱
sql_job_table =  """
            CREATE TABLE IF NOT EXISTS JobsInfo  (
            `更新日期` DATE,
            `職缺名稱` VARCHAR(100),
            `公司名稱` VARCHAR(100),
            `工作內容` TEXT,
            `職務類別` INT,
            `工作待遇` VARCHAR(100),
            `工作性質` INT,
            `縣市` INT,
            `上班地點` VARCHAR(100),
            `管理責任` INT,
            `出差外派` INT,
            `上班時段` VARCHAR(100),
            `休假制度` INT,
            `可上班日` INT,
            `需求人數` VARCHAR(50),
            `工作經歷` INT,
            `學歷要求` INT,
            `科系要求` VARCHAR(50),
            `語文條件` VARCHAR(50),
            `擅長工具` VARCHAR(500),
            `工作技能` VARCHAR(500),
            `其他要求` TEXT,
            `連結` TEXT,
            PRIMARY KEY (`連結`(255))
);
        """

with engine.connect() as connection:
    print("test OK")
    connection.execute(text(sql_job_table))

test OK

In [ ]:
# custom filter params for search - simon
# role = {'ro':'全職'}
# zone = {'zone': '4,5'}
# indcat = {'indcat':'1001000000,1002000000,1012000000,1014000000'}
# exclude = {'excludeJobKeyword': '軟體,會計,文件整理,行政,百貨,資訊,品管,財務,守衛,技術員,法務,品檢,登打,輪班,無經驗,客戶'}
# mode = {'mode':'列表'}  # 一次能呈現比較多筆資料
# order = {'order':'日期排序'}
# asc = {'asc':'遞減'}
# filter_params = get_filter_params(role, zone, indcat, exclude, mode, order, asc)

In [ ]:
# 如果你在一個 Python script 中執行這樣的程式碼，你可能需要使用 asyncio.run() 函數。
# 在異步程式碼中，如果你使用 asyncio.gather 函數收集異步任務的結果，而這些任務沒有顯式返回值，
# gather 函數將返回一個包含每個異步任務結果的列表，而這些結果通常是 None。

import asyncio

async def async_example(i):
    print(f"Start asynchronous task {i}")
    await asyncio.sleep(1)
    print(f"End asynchronous task {i}")
    return f"Result of task {i}"

# 直接在 Jupyter cell 中執行
tasks = [async_example(i) for i in range(5)]
results = await asyncio.gather(*tasks)
print(results)

In [ ]:
%%time
# 計算query時間
import pandas as pd
current_date = datetime.now().date()    
parquet_file = f"temp-{current_date}.parquet" 
parquet_path = f"temp/{parquet_file}"
df_read = pd.read_parquet(parquet_path)
# len(df_read)
# df_read
# query

# pd.read_parquet(parquet_path).query("id==13791668")
# CPU times: total: 15.6 ms
# Wall time: 12.7 ms
# test = pd.read_parquet(parquet_path, filters=[("id", "=", 13791668)])
# CPU times: total: 0 ns
# Wall time: 5.82 ms